In [14]:
import pandas as pd

df = pd.read_csv('simplemaps_worldcities_basicv1.76\worldcities.csv')
df.shape

(44691, 11)

In [19]:
import geopandas as gpd
import matplotlib.pyplot as plt

# # Function to get the country map using ISO code
# def get_country_map(iso_code):
#     # Check if the ISO code is valid
#     if len(iso_code) != 2 and len(iso_code) != 3:
#         raise ValueError("Invalid ISO code")

    # Load the world map data
world_data = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
world_data.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_21736\3482424426.py:11: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world_data = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [ ]:

    # Filter the world map data to the specified country
    country_data = world_data[world_data['iso_a3'] == iso_code]

    # Check if the country exists
    if country_data.empty:
        raise ValueError("Country with ISO code " + iso_code + " not found")

    # Plot the country map
    country_data.plot()
    plt.show()

# Get the ISO code from the user
iso_code = input("Enter the ISO2 or ISO3 code of the country: ")

# Get the country map
get_country_map(iso_code)

In [16]:
country_data = df[df['iso3'] == iso_code].reset_index(drop=True)
country_data.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Karachi,Karachi,24.8600,67.0100,Pakistan,PK,PAK,Sindh,admin,15738000.0,1586129469
1,Lahore,Lahore,31.5497,74.3436,Pakistan,PK,PAK,Punjab,admin,12306000.0,1586801463
2,Faisalabad,Faisalabad,31.4167,73.0911,Pakistan,PK,PAK,Punjab,minor,3203846.0,1586323916
3,Rawalpindi,Rawalpindi,33.6000,73.0333,Pakistan,PK,PAK,Punjab,minor,2098231.0,1586344001
4,Gujranwala,Gujranwala,32.1567,74.1900,Pakistan,PK,PAK,Punjab,minor,2027001.0,1586400472

In [18]:
REGIONS = country_data['admin_name'].unique()